#calculator {
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
    width:25vw;
    margin:auto;
    height:35vw;
}

#content {
    display:flex;
    flex-direction: column;
    align-items:center;
}

#display {
    margin-bottom:2vw;
    border:2px solid black;
    height:5vw;
    width:20vw;
    font-size:1.5vw;
}

.break {
    flex-basis: 100%;
    height: 0;
}

button {
    width:4vw;
    height:4vw;
    margin:0.2vw;
}

#equals, #allClear {
    width:8.6vw;
}

